:root {
    --primario: #8B5E3C;
    --primario-oscuro: #4E342E;
    --secundario: #C8956C;
    --acento: #D6A756;

    --oscuro: #211A17;
    --blanco: #FFFFFF;
    --fondo: #F7F2EC;
    --fondo-secundario: #EDE2D5;

    --texto: #2F2926;
    --texto-secundario: #6F625B;

    --font-heading: 'Playfair Display', serif;
    --font-text: 'Lato', sans-serif;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *:after{
    box-sizing: inherit;
}
body{
    font-family: var(--font-text);
    font-size: 1.6rem;
    line-height: 2;
}
.container{
    width: min(90%, 120rem);
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--font-heading);
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2;
}
h4{
    font-size: 2.8;
}
img{
    max-width: 100%;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.center-text{
    text-align: center;
}
.header{
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header__text{
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}
@media(min-width:768px){
    .header__text{
        margin-top: 15rem;
    }
}
.bar{
    padding-top: 4rem;
}
@media(min-width:768px){
    .bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo{
    color: var(--blanco);
}
.logo__name{
    font-weight: 400;
}
.logo__bold{
    font-weight: 700;
    color: var(--texto-secundario);
}

@media(min-width:768px){
    .navigation{
        display: flex;
        gap: 2rem;
    }
}
.navigation__link{
    display: flex;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}
@media(min-width:768px){
    .content-main{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}
.entry{
    border-bottom: 1px solid var(--texto-secundario);
    margin-bottom: 2rem;
}
.entry:last-of-type{
    border: none;
    margin-bottom: 0;
}
.button{
    display: block;
    font-family: var(--font-heading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border-radius: 1%;
}
@media(min-width:768px){
    .button{
        display: inline-block;
        border-radius: 7%;
    }
}
.button--first{
    background-color: var(--oscuro);
}
.button--secondary{
    background-color: var(--primario);

}
.courses{
    list-style: none;
}
.widget-courses{
    border-bottom: 1px solid var(--texto-secundario);
    margin-bottom: 2rem;
}
.widget-courses:last-of-type{
    border: none;
    margin-bottom: 0;
}
.widget-courses__label{
    font-family: var(--font-text);
    font-weight: bold;
}
.widget-courses__info{
    font-weight: normal;
}
.widget-courses__label,
.widget-courses__info{
    font-size: 1.5rem;
}
.footer{
    background-color: var(--oscuro);
    padding-bottom: 3rem;
    margin-top: 4rem;
}