:root {
    --primario: #8B5E3C;
    --primario-oscuro: #4E342E;
    --secundario: #C8956C;
    --acento: #D6A756;

    --oscuro: #211A17;
    --blanco: #FFFFFF;
    --fondo: #F7F2EC;
    --fondo-secundario: #EDE2D5;

    --texto: #2F2926;
    --texto-secundario: #6F625B;

    --font-heading: 'Playfair Display', serif;
    --font-text: 'Lato', sans-serif;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *:after{
    box-sizing: inherit;
}
body{
    font-family: var(--font-text);
    font-size: 1.6rem;
    line-height: 2;
}
.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--font-heading);
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2;
}
h4{
    font-size: 2.8;
}
img{
    max-width: 100%;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.center-text{
    text-align: center;
}
